body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #343a40;
    font-weight: bold;
}

.container {
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group label {
    font-weight: bold;
    color: #555;
}

.btn {
    background-color: #007bff;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
}

.alert {
    font-size: 14px;
}

input, textarea {
    border-radius: 5px !important;
}

.form-check-label {
    font-weight: normal;
}