</html>
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Lịch Sự Kiện Hàng Năm</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body class="container">
    <h1 class="text-center mb-4">Đặt Lịch Sự Kiện Hàng Năm</h1>

    <!-- Form chọn ngày -->
    <div class="form-group">
        <label for="eventName">Tên sự kiện:</label>
        <input type="text" id="eventName" class="form-control" placeholder="Nhập tên sự kiện" required>
    </div>

    <div class="form-group">
        <label for="eventDescription">Nội dung sự kiện:</label>
        <textarea id="eventDescription" class="form-control" rows="3" placeholder="Nhập nội dung sự kiện"
            required></textarea>
    </div>

    <div class="form-group">
        <label for="datePicker">Chọn ngày:</label>
        <input type="date" id="datePicker" class="form-control" required>
    </div>

    <!-- Checkbox chọn nhận thông báo hàng năm -->
    <div class="form-check mb-3">
        <input type="checkbox" id="notifyAnnual" class="form-check-input">
        <label for="notifyAnnual" class="form-check-label">Nhận thông báo hàng năm</label>
    </div>

    <!-- Ô input hidden chứa giá trị PSID (nếu cần) -->
    <input type="text" id="psid" hidden>

    <!-- Nút gửi thông tin -->
    <button id="btnSelectDate" class="btn btn-primary btn-block">Gửi Lịch Sự Kiện</button>

    <!-- Thông báo -->
    <div id="message"></div>

    <!-- Script xử lý thông tin -->
    <script src="/js/select_date.js"></script>

</body>

</html>