<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= userRef %> Gửi thông báo đến bạn
  </title>
</head>

<body>
  <div class="fb-messenger-checkbox" page_id="379897958532229" messenger_app_id="1231345071538950"
    opt-in-type="transactional" user_ref="<%= userRef %>" allow_login="true" prechecked="true" size="standard"
    skin="dark">
  </div>
  <input type="button" onclick="confirmOptIn()" value="Confirm Opt-in" />

  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    function confirmOptIn() {
      console.log('sending', {
        'app_id': '742748399728250',
        'page_id': '379897958532229',
        'user_ref': '<%= userRef %>'
      })
      FB.CheckboxPlugin.confirm({
        'app_id': '1231345071538950',
        'page_id': '379897958532229',
        'user_ref': '<%= userRef %>'
      });
    }
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1231345071538950',
        xfbml: true,
        version: 'v20.0'
      });
      FB.Event.subscribe('messenger_checkbox', function (e) {
        console.log("messenger_checkbox event");
        console.log(e);

        if (e.event == 'rendered') {
          console.log("Plugin was rendered");
        } else if (e.event == 'checkbox') {
          var checkboxState = e.state;
          console.log("Checkbox state: " + checkboxState);
        } else if (e.event == 'not_you') {
          console.log("User clicked 'not you'");
        } else if (e.event == 'hidden') {
          console.log("Plugin was hidden");
        }
      });
    };
  </script>
</body>

</html>